.row
  .column.twentyfour
    %h3 Services
  - @services.each_with_index do |service, index|
    .column.six.end
      .clickable.service{'data-image' => "#{service.image_url}"}
        = link_to service.name, service, data: { valign: 'middle' }
