- title t('nav.services')

%h3= t('nav.services')

- @services.each_with_index do |service, index|
  / .column.six.end
  .service{style: "background-image: url(#{service.image_url})"}
    .clickable
      = link_to service.name, service, data: { valign: 'middle' }
