.row
  .column.twentyfour
    %h3 Services
  - @services.each do |service|
    .column.six
      .clickable.service{'data-image' => "#{service.image_url}"}
        = link_to service.name, service, data: { valign: 'middle' }