- title t('nav.services')

%h3= t('nav.services')

- @services.each_with_index do |service, index|
  .clickable.service{style: "background-image: url(#{service.image_url})"}
    = link_to service.name, service, data: { valign: 'middle' }
