- title @service.name, @service.image_url

.row

  .column.seven
    .box
      %h2 Services
      .content
        %ul.archive
          - Service.all.each do |service|
            %li
              .title= link_to_unless_current service, service

  .column.ten
    .box
      %h2 About Our Service
      .content= simple_format @service.description

  .column.seven
    .box
      %h2 Contact Us
      .content
        %p
          To further discuss of component lease packages, please contact us on:
          Phone:              Email:
          +44 (0)1293 583200      enquiries@ascltd.com
