- title @service.name, @service.image_url

.row

  .column.sixteen
    .box
      %h2 About Our Service
      .content= simple_format @service.description

  .column.eight
    .box
      %h2 Contact Us
      .content
        %p
          To further discuss of component lease packages, please contact us on:
          Phone:              Email:
          +44 (0)1293 583200      enquiries@ascltd.com
