.row
  .column.twentyfour
    %h3 Events
    #slider.flexslider
      %ul.slides
        %li one
        %li two
  - @events.each do |event|
    .column.twelve
      .box
        %h2= event.name
        .content
          = event.location
          %hr/
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          