.row
  .column.twelve
    = holder_tag '200x300'
  .column.eight
    .box
      %h2= @album.name
      .content= simple_format @album.description
  - @album.images.each do |image|
    .column.eight
      = image_tag image
