.row
  .column.eighteen.featured_photo
    = image_tag @album.featured_photo
  .column.six
    .box
      %h2= @album.name
      .content= simple_format @album.description
.row
  - 10.times do
    - @album.images.each do |image|
      .column.six.photo
        = image_tag image.photo_url
