- title "About Us"
.row
  .column.sixteen
    .box
      %h2 Who are ASC?
      .content
        %p Airline Services Components Limited (ASC) specialises in the supply and management of rotable components from its storage and distribution warehouse at London Gatwick (LGW).
        %p LGW benefits from excellent road, rail and air transport links and provides an ideal hub from which to manage the logistics associated with our rotable support programmes on a 24 hour, 365 days a year basis. The LGW office is supported by additional offices in Manchester (MAN) and East Midlands (EMA)
        %p Together with our sister company, Airline Services Limited, the Group provide EASA 145 approved workshops and a wide array of service provisions which are detailed on the website.
        %p ASC has a strong and professional management team with a wealth of experience in aviation and in particular in the field of component management.
        %p We pride ourselves on our flexibility in dealing with customer requirements and our management structure allows us to make quick decisions thus expediting the processes and optimising operational performance.%p The company has expanded rapidly over the last three years and developed an extensive customer base particularly in central and eastern Europe, supported by our inventory of Airbus A320 and Boeing 737 (Classic & New Gen) stocks.
    .box
      %h2 Airline Services Group

  .column.eight.customers
    .box{style: 'background: none'}
      %h2 ASC's Customers
      - 6.times do
        .column.twelve
          .customer{style: "background-image: url(#{image_path 'about/thomson.png'})" }
    .box
      %h2 How to contact us
    .box
      %h2 Where and When
