- title "Careers", nil, "Join Our Team"

.row
  .columns.sixteen
    .box
      %h2 Deputy Sales Manager
      .content
        %p This position will report to the Regional Sales Manager based at Crawley facility, the role will assist in the day to day running of the Sales Department, ensuring a high level of customer service is provided and that targets set by management are achieved.

        %p If you have any questions on the role please call: Nadya Gooders on 01293 583213
        %p If you are interested please apply in writing stating why you’d be suitable for this role to: nadya.gooders@ascltd.com

  .columns.eight
    .box
      %h2 Nothing Suitable?
      .content
        %p Please check back regularly for upcoming opportunities.
        %p If there is currently nothing suitable feel free to dropus an email with your CV.
        %P Contact us on: #{mail_to "jackie.harmsworth@ascltd.com"}