.row
  .column.six
    .box
      %h2 Gatwick Office
      :markdown
        Delivery Address  
        Airline Services Components Ltd  
        Newton Road, Crawley,  
        West Sussex, RH10 9TS  
        United Kingdom  
        View Map
        - - - 

  .column.three
    .box
      %h2 Manchester Office
      :markdown
        Canberra House  
        Robeson Way  
        Sharston Green Business Park  
        Manchester, M22 4SX  
        United Kingdom  
        View Map
        - - -
        Bryan Bodek  
        Chief Executive  
        bryan.bodek@airline-services.com  
        Mobile: +44 (0) 161 4956918
        - - -
        Sean Taylor  
        Finance Director  
        sean.taylor@airline-services.com  
        Mobile: +44 (0) 161 4956932


  .column.three
    .box
      %h2 Derby Office
      :markdown
        Derby Office, Suite 6-7  
        Millhouse Business Centre  
        Castle Donington  
        Derbyshire, DE74 2NJ  
        United Kingdom  
        View Map
