.box
	%h2 About Us
	.content
		%p Airline Services Components Limited (ASC) specialises in the supply and management of rotable components from its storage and distribution warehouse at London Gatwick (LGW). 

		%p We pride ourselves on our flexibility in dealing with customer requirements and our management structure, allowing us to make quick decisions thus expediting our processes and optimising operational performance.

.box
	%h2 Latest News

.box
	%h2 Upcoming Events

.box
	= image_tag "brochure.png"

.box
	= image_tag "airline_services.png"

.box
	= image_tag "careers.jpg"