- title "Terms and Conditions of Purchase"

.terms
  .box
    .content
      #definitions_and_interpretation
      :markdown

        1) Definitions and interpretation

        In this Contract except where the context otherwise requires, the following words and expressions shall have the following meanings:

          (a) ‘Approved Documentation’ means documentation complying with the regulations referred to;

          (b) ‘Aviation Authority’ means the UK Civil Aviation Authority;

          (c) “Buyer” means Airline Services Components Limited

          (d) ‘Goods’ means the goods that are the subject of this order,

          (e) ‘Order’ means this order and any related contract;

          (f) ‘Seller’s Approved Inspection’ means inspection in accordance with the appropriate EASA and/or FAR regulations as applicable to the Seller;

          (g) ‘Statement of Conformity’ means appropriate certificate of conformity;
        - - -
      #variation_of_waiver
      :markdown
        2) Variation of waiver

          (a) The Order and any related contract (“the Contract”) shall be subject only to these conditions, any conditions set out on the front of the Order, such other conditions and variations as the Buyer may have accepted in writing on the face of the Order and such terms as may be implied by law.

          (b) These conditions supersede any earlier conditions issued by the Buyer and any conditions purported to be imposed by the Seller.

          (c) It is agreed that if any of the Goods included in the Buyer’s Order have been delivered before the formation of this Contract, the provisions of this Contract shall apply to those Goods and govern the rights and liabilities of the Buyer and Seller in relation to those Goods.
        - - -
      #quality
      :markdown
        3) Quality

        The Seller warrants that all Goods delivered under this agreement will be free from defects in material and workmanship, conform to applicable specifications and where applicable any drawings and, to the extent that detailed designs have not been furnished by the Buyer, will be free from design defects and shall be suitable for the purposes intended by the Buyer in all respects. The Buyer’s approval of designs furnished by the Seller shall in no circumstances relieve the Seller of its obligations under any provisions of this agreement including the warranty contained in this clause. The Seller acknowledges that the Buyer has made the Seller aware of the particular purpose for which the Goods are purchased and the manner in which they are intended to be used and that the Buyer is relying on the Seller’s skill and judgement in this regard.

        All Goods and materials supplied shall be of satisfactory quality and shall be in every respect, fit for their intended purposes and/or any purpose for which they could be used.

        As deemed appropriate, the Buyer and/or its customers shall have the right of access to the Seller’s organisation, their suppliers, regulatory authorities and to all facilities involved in the Order and to all applicable records. Records shall be retained in accordance with EN9130)or as otherwise specified.
        - - -
      #payment
      :markdown
        4) Payment

          (a) The prices for the Goods are inclusive of all taxes and duties

          (b) The Buyer shall pay for the Goods within 45)days of the end of the month of receipt of the detailed invoice

          (c) All payments shall be made in sterling unless agreed otherwise by the Buyer.
        - - -
      #delivery
      :markdown
        5) Delivery

          (a) On the delivery date stipulated by the Buyer or, if no date is stipulated within an agreed time from the date of the Order, the Seller shall deliver the Goods to the Buyer at the delivery address shown on the order or such other place designated by the Buyer.

          (b) A delivery note must accompany the Goods together with the following Approved Documentation as appropriate:

            (i) Where the Seller holds EASA approval:

              (a) Confirmation of inspection and certification by the Seller’s Approved Inspection staff;

              (b) The Seller must issue an Authorised Release Certificate/EASA Form One in accordance with EASA Part 145)

            (ii) Where the Seller is a Stockist or Distributor a Statement of Conformity will be issued and will include a copy of the Seller’s incoming Airworthiness Authorised Release Documents in accordance with CAP 562)Leaflet 1)12)

            (iii) Where the Seller supplies pursuant to the Federal Aviation Regulations:

              (a) Class I items; an Export Airworthiness Certificate/8130)4)in accordance with FAR 21)Sub Part L Export Airworthiness Approvals.

              (b) Class II and Class III items; an Airworthiness Approval Tag/8130)3)in accordance with FAR21)Sub Part L Export Airworthiness Approvals.

              (c) Where the Seller is a Stockist or Distributor a Statement of Conformity will be issued and will include a copy of the Seller’s incoming Airworthiness Authorised Release Documents in accordance with CAP 562)Leaflet 1)12)

            (iv) Where the Goods have been repaired or overhauled by the Seller then the Seller must on delivery state that all Mandatory Modifications have been carried out.
        - - -
      #design
      :markdown

        6) Design

        The property and copyright in all designs, drawings and other documents prepared for the Contract or supplied by the Buyer shall belong to the Buyer and the Seller shall use them only for the benefit of the Buyer.
        - - -
      #passing_of_property_and_risk
      :markdown

        7) Passing of property and risk

          (a) If any part of the price for the Goods is payable before delivery:

            (i) the property in all components of the Goods, materials for the Goods and tools to be used exclusively in connection with the Goods (hereinafter called “Hardware”) shall pass to the Buyer as soon as they are allocated to the Contract and in all related designs, drawings and other documents (hereinafter collectively called "software") as soon as they are prepared. The Seller shall by written notice inform the Buyer as and when such Hardware is allocated and notwithstanding any payment terms stated in the Order or the Contract or otherwise agreed the Buyer shall be entitled to withhold any payment otherwise due to the Seller until the agreed value of Hardware is equal to the sum of such payments already made to the Seller; and

            (ii) te Seller shall incorporate in its contracts with sub-contractors and suppliers provision to ensure that the property in all Hardware and Software passes to the Buyer as aforesaid.

          (b) Where paragraph (a) does not apply, the property in the Goods shall pass to the Buyer upon delivery to it at the place designated or otherwise as agreed.

          (c) Regardless of the passing of the property, the risk in Goods shall not pass to the Buyer until delivery.

          (d) The passing of property and risk is without prejudice to any right of rejection which may be exercisable by the Buyer.

          (e) The Buyer shall be entitled to return any Goods damaged in transit at the cost of the Seller.
        - - -
      #termination_and_rejection
      :markdown

        8) Termination/rejection

          (a) If the Seller is in breach of Contract or becomes unable to pay its debts day by day as they become due, the Buyer may terminate the Contract and may elect to keep all or some of the Goods already delivered or to take all or some of the Goods still being manufactured or otherwise undelivered. Without prejudice to any other right which the Buyer may have, it shall be entitled to terminate this Contract forthwith in the event that the Seller becomes insolvent or enters into or proposes any scheme of arrangement or other composition with its creditors or otherwise becomes insolvent.

          (b) In addition to its rights under Clause 8)a) the Buyer may reject any Goods which are not in accordance with Clause 3)or any express or implied condition warranty or other term relating to them. This right of rejection shall be available to the Buyer for a reasonable period (and, in any event, six months) from the date of delivery.

          (c) If the Buyer terminates the Contract the Seller shall return to the Buyer all payments already made and if the Buyer rejects any of the Goods, the Seller shall return to the Buyer all payments already made for the rejected Goods. Where, upon termination, the Buyer has elected to keep or take some Goods, the Buyer shall account to the Seller for them as a proportion of the Contract price or at their value to the Buyer, whichever is the lower, but otherwise no compensation shall be payable to the Seller on termination or rejection.

          (d) The rights remedies and obligations set out in Clauses 8) 9)and 10)are in addition to any other rights and remedies of the Buyer and obligations of the Seller.
        - - -
      #guarantee_and_indemnity
      :markdown

        9) Guarantee and indemnity

          (a) The Seller shall make good at its own expense all defects found in the Goods during a period beginning on the delivery and ending 12)months after the Buyer first uses them.

          (b) Patent and Copyright Indemnification: The Seller, at its own expense, will defend or cause to be defended or, at its option, settle any claim or action brought against the Buyer on the issue of infringement of any patent, design right, trade secret or copyright by the Goods (“Claim”). Subject to the other conditions of this clause, the Seller will pay any final judgement entered against the Buyer with respect to any Claim, and fully indemnify the Buyer in respect of all costs and expenses relating to the Claim provided that the Buyer:

          (i) Notifies the Seller in writing of the Claim as soon as possible after becoming aware of it;

          (ii) Grants sole control of the defence of the Claim to the Seller, and:

          (iii) Gives the Seller complete and accurate information and full assistance to enable the Seller to settle or defend the Claim.
        - - -
      #warranties_and_indemnity
      :markdown

        10) Warranties and indemnity

          (a) The Seller shall indemnify the Buyer against all actions, claims, demands costs, charges and expense relating to any infringement or alleged infringement of letters patent, registered designs, trademark, copyright or other industrial property right by sale or use of the Goods.

          (b) General Warranty and Indemnity. The Seller undertakes that it will indemnify the Buyer from all proceedings, costs, expenses, liabilities, injury, death, loss or damage either direct or indirect, arising out or/or by reason of the breach, non-performance, negligent performance or negligence howsoever arising by the Seller in connection with the performance of the agreement.
        - - -
      #assignment
      :markdown

        11) Assignment

          The Seller shall not assign or sub-let the Contract or any part of it unless agreed by the Buyer in writing.
        - - -
      #statutory_requirements
      :markdown

        12) Statutory requirements

        The Seller shall ensure that the Goods are designed and made so as to comply in use with all relevant statutes regulations and by-laws in effect at the time of delivery.
        - - -
      #confidentiality
      :markdown

        13) Confidentiality

        The Order, the Contract and all tools, materials, documents and information issued by the Buyer in connection therewith are confidential, and their use and disclosures must be strictly confined to the Seller himself and his employees properly engaged thereon (except in so far as confidential disclosures to sub-contractors or suppliers is agreed by the Buyer to be necessary) and to the purposes of the Contract. In particular the Seller shall not use the Contract for the purpose of advertisement.
        - - -
      #governing_law
      :markdown

        14) Governing law

        The construction validity and performance of the Contract shall be governed in all respects by English law and the Seller submits to the jurisdiction of the English courts.

        - - -
      #supervening_illegality_and_severance
      :markdown

        15) Supervening illegality and severance

        If any term or provision in this Contract shall be held to be illegal or unenforceable, in whole or in part, under any enactment or rule of law, such term or provision or part shall to that extent be deemed not to form part of this Contract but the validity and enforceability of the remainder of this Contract shall not be affected.

        - - -
      #performance_of_work_and_provision_of_services
      :markdown

        16) Performance of work and provision of services

        Clauses 1. to 15. shall apply mutatis mutandis to any work and/or services referred to in the Order or any resulting Contract (“the Work”) and in particular, but without prejudice to the generality of the foregoing:-

          (a) the Seller shall execute and complete the Work in accordance with the particulars and any specifications contained or referred to in the Order and to the satisfaction of the Buyer.

          (b) the Seller shall complete the work diligently, and expeditiously by the date stipulated by the Buyer or, if no date stipulated within a reasonable time from the date of the Order.

          (c) the Buyer’s rights of rejection under Clause 8)and the consequences thereof shall apply to the Work as they apply to the Goods.

          (d) the Seller shall make good at its own expense all defects found in the Work during a period beginning on its completion and ending 12)months after the Buyer first uses it results;

          (e) the Seller shall carry out the Work safely and without risk to person or property and will indemnify the Buyer against all claims, costs, charges and expenses arising out of the Seller’s failure to comply with its obligations under this clause or otherwise in connection with the Work.

          (f) The Seller shall insure against such risks in connection with the Work as is prudent and customary in the trade.



.contents
  .box
    %h2 Contents
    - titles = %w(definitions_and_interpretation variation_of_waiver quality payment delivery design passing_of_property_and_risk termination_and_rejection guarantee_and_indemnity warranties_and_indemnity assignment statutory_requirements confidentiality governing_law supervening_illegality_and_severance performance_of_work_and_provision_of_services)
    .content
      %ul.archive
        - titles.each do |title|
          %li.clickable
            .title= link_to title.humanize, "##{title}"

