- title "Terms and Conditions of Purchase"
.terms
	.box
		.content
			:markdown

				The Buyer’s attention is particularly drawn to the limitation of liability contained in Clause 10 hereof.This Seller is always willing to discuss a variation of this clause (and any others limiting liability) provided that adequate insurance cover can be arranged by the Seller and subject to a reasonable price adjustment to cover this adjustment to cover this additional liability

				- - -
			#general
			:markdown
				1. GENERAL

				a) In these conditions:
				i. “Seller” means Airline Services Components Limited.
				ii. “Goods” means the goods or services supplied to the Buyer.
				iii. “The Buyer” means the purchaser of the Goods.
				b) This contract contains the entire bargain between the Seller and the Buyer and in the case of any inconsistency between these terms and conditions and the terms and conditions of any other contract documents sent by the Buyer to the Seller (whatever their respective dates) in respect of the Goods these terms and conditions shall prevail unless the contrary is agreed by the Seller in writing.
				c) Any description or illustrations in the Seller’s pre-contract materials and quotations or estimates are intended merely to present a general idea of the Goods and shall not form representations or be part of the contract.
				d) Any concession or waiver made by the Seller at any time shall not prejudice the exercise of its rights hereunder.
				e) The Buyer is deemed to have satisfied himself that the Goods are suitable for the purpose and capable of performing the function and use to which it is
				intended to put them.
				f) No waivers alterations or modifications of these terms and conditions shall be valid unless made in writing signed by the duty authorised representative of the
				party against whom the same shall be sought to be enforced.
				g) The Seller reserves the right to correct any clerical errors made by its employees at any time.
				h) Each of the clauses of these general terms and conditions of sale and every part thereof shall be separate and severable to the intent that if one clause or one
				part thereof shall be enforceable the other clauses and the other parts of the clause respectively shall be effective.
				i) The exclusion and limitations contained in these general terms and conditions of sale only apply so far as permitted by the Supply of Goods (Implied Terms)
				Act 1973 the Consumer Credit Act 1974 and the Unfair Contract Terms Act 1977 or any other relevant statute or amendment thereof or Order thereunder.
				j) Where applicable herein the masculine shall include the feminine and neuter and the singular the plural and vice-versa.
				k) The Buyer shall retain right of access to the Seller’s organisation, regulatory authorities and to all facilities involved in the Order and to all applicable records,
				As deemed appropriate by the Seller and/or as required by law.

				- - -
			#goods_supplied_to_order
			:markdown
				2. GOODS SUPPPLIED TO ORDER

				Goods specifically purchased by the Seller from a supplier for on-sale to the Buyer may not be returned to the Seller for credit.

				- - -
			#payment_terms
			:markdown
				3. PAYMENT TERMS

				a) Payment is due within 28 days following the date of invoice.
				b) No deductions shall be made by the Buyer from any payment due under this contract unless otherwise expressly stated overleaf.
				c) Where applicable Value Added Tax (or other tax payable by a purchaser) will be added in accordance with United Kingdom legislation in force at the tax
				point date.

				- - -
			#place_of_delivery
			:markdown
				4. PLACE OF DELIVERY

				The Goods shall be delivered ex point of origin and the Buyer shall be ready to collect them at such place when notified by the Seller and any additional expense caused to the Seller by the Buyer due to the Buyer not being ready or not providing suitable collection facilities or any other cause shall forthwith be reimbursed to the Seller.

				- - -
			#delivery_date
			:markdown
				5. DELIVERY DATE

				The Seller will use its best endeavours to meet any delivery date but any date named by the Seller for delivery is given and intended as an estimate only and is not to be of the essence of the contract. The Buyer shall nevertheless be bound to accept the Goods when available. The Seller shall not be liable in any way in respect of late delivery howsoever caused nor shall failure be deemed to be a breach of contract.

				- - -
			#packing
			:markdown
				6. PACKING

				a) All Goods shall, unless stated otherwise, be despatched in packaging suitable for road transportation within the United Kingdom. The Company reserves the right to charge for any special packaging requirements of the Buyer.
				b) Packing materials, containers, etc, are returnable. Where such packing materials are charged as an extra credit will be allowed if returned carriage paid and received in good condition.

				- - -
			#storage
			:markdown
				7. STORAGE

				The Seller shall be entitled to store at the risk of the Buyer any of the Goods (or any part thereof).

				- - -
			#variations_to_the_goods
			:markdown
				8. VARIATIONS TO THE GOODS

				a) The Seller reserves the right to vary the Goods where in its absolute discretion it considers it necessary to carry out the main purpose of this contract.
				b) The Seller will endeavour to carry out all reasonable variations to the Goods requested by the Buyer but shall not be obliged to accept any such request for
				variation and shall be entitled to make any price adjustment consequent upon any variation accepted.

				- - -
			#force_majeure
			:markdown
				9. FORCE MAJEURE

				If events beyond the Seller’s reasonable control prevent the Seller from performing its obligations hereunder the Seller may without liability cancel this contract or defer performance until the relevant event has ceased to be applicable. If any such event prevents the Seller from performing its obligations for a period of 30 days the Buyer may cancel the Contract without further liability of the Seller.

				- - -
			#warranty_and_limitation_of_liability
			:markdown
				10. WARRANTY AND LIMITATION OF LIABILITY

				a) The Seller warrants that on delivery the Goods will be in a proper working order.
				b) All goods returned must be sent back under an RMA number supplied by the seller. Goods returned under this warranty shall be delivered to the Seller’s
				premises at the Buyer’s expense. The Buyer will pay for all the services given and expenses incurred by the Seller in connection with Goods returned under
				the warranty and found not to be defective.
				c) In the event of any breach of the above warranty the Seller shall effect such repair or replacement as in its sole judgment it considers necessary to restore the
				Goods to proper working order but except for such repair or replacement the Seller shall in no way whatsoever be liable for any injury loss or damage
				howsoever arising from or relating to such breach of warranty.
				d) Where the Goods are to be a specification or design of the Buyer no liability is accepted by the Seller for specification or design errors, which shall remain the
				responsibility of the Buyer.
				e) If the Seller cannot repair or replace the defective goods their liability shall be limited to refunding the cost of the Goods only.
				f) The above warranty shall be void if:
				i. The Buyer suffers or allows any person other than the Seller or its authorised agents to repair adjust or otherwise tamper with the Goods or,
				ii. Any alteration whatsoever have been made to the Goods otherwise than by the Seller or its authorised agent or,
				Page 1 of 2
				Form No: ASC/TS01Rev7iii. If any device or controls are fitted to the Goods or,
				iv. The Buyer has not complied with his duties hereunder.
				g) Parts subject to availability and notification should be sent to Buyer within 7days of order confirmation if part(s) not available.
				h) Except as stated in this clause all guarantees representations or warranties and conditions (whether express or implied by Statute or otherwise) are hereby
				expressly excluded and the Seller shall not be liable for any injury loss or damage whatsoever or howsoever arising and whether direct indirect or consequential arising from or relating in any way to the Goods and in particular shall have no liability for any loss of profit or consequential lossi) Any defects or damage found on receipt of the goods must be notified within 24 hours of receipt with documented/photographic evidence. However, the Buyer is responsible for insuring the goods during freight.

				- - -
			#time_for_notifying_short_delivery
			:markdown
				11. TIME FOR NOTIFYING SHORT DELIVERY

				The Seller shall not be liable in any way whatsoever for short delivery of Goods unless a claim is notified to the Seller within 3 days of delivery.

				- - -
			#overdue_payment_and_cancellations
			:markdown
				12. OVERDUE PAYMENT AND CANCELLATIONS

				a) The Seller shall be entitled to charge interest at a rate equal to 4% above the base lending rate of Lloyds TSB from time to time on all overdue payment.
				b) The Seller shall be entitled to suspend or cancel further deliveries or other services under this and/ or any other contract between the parties hereto:
				i. If any payment is overdue or,
				ii. If the Buyer shall have failed to take delivery of any Goods.
				c) For the purpose of this condition time of payment shall be of the essence of the contract.
				d) The Buyer shall not be entitled to withhold or set off payment for any reason whatsoever.

				- - -
			#passing_of_risk
			:markdown
				13. PASSING OF RISK AND PASSING OF TITLE

				a) In this clause the word “Goods” shall include:
				i. Goods that have been sorted repackaged or otherwise represented and promoted.
				ii. Goods which have been placed in plugged to or otherwise temporarily connected to other goods and,
				iii. Goods to which any other material or thing whatever becomes permanently attached either in whole or part (such goods being deemed to have acquired that material) or those things in simple accession or accretion and the resultant combination shall in consequence be identified with the Goods in every way and consequently be and remain the property of the Seller in accordance with this clause as if the same had always been the property of the Seller notwithstanding that the value thereof may have been greatly enhanced by reason of the said accession or accretion or that the same shall be a new object.
				b) Risk in the Goods shall pass on delivery but the legal property and title in the Goods shall remain that of the Seller until the happening of the first of the following events:
				i. Payment by the Buyer of the price of the Goods and of all other things delivered by the Seller to the Buyer.
				ii. Performance by the Buyer of any bone fide sale of the Goods at their market value to an independent third party, the Buyer being given authority to
				enter into such sale notwithstanding that the property therein remains with the Seller by virtue of these terms.
				c) The Goods shall at all times be stored or kept and marked or distinguished so as to be easily identified as the Seller’s property and in particular records shall be kept of their individual whereabouts and should they be the subject of sale permitted hereunder, records shall be kept of the buyers thereof and of the prices at which the same are agreed to be sold.
				d) The amounts receivable by the Buyer pursuant to any sale of the Goods permitted hereunder, being receivable upon a sale of the property of the Seller shall be collected for and held in trust for the Seller, to the extent that such amounts do not exceed the total debt owed by the Buyer to the Seller in respect of the price of the Goods and the price of all other things sold or delivered by the Seller to the Buyer.
				e) Upon any default by the Buyer of any of these terms and conditions (including terms as to payment) or the bankruptcy making of a winding up order against or appointment of any Receiver or Liquidator of the Buyer or its assets or upon the Buyers suffering any distress or execution against its goods then the Seller may dispose of or recover any of the Goods entering the Buyer’s premises for the purpose thereof.

				- - -
			#copyright_infringement
			:markdown
				14. COPYRIGHT ETC, INFRINGEMENT

				The Buyer shall be solely responsible for the consequences of any patent, trademark, design, copyright or other infringement of commercial rights resulting from the Buyer’s specification design or use of the Goods and the Buyer shall fully indemnify the Seller in respect of all claims demands liabilities costs charges and expenses incurred by the seller as a result of such infringement or alleged infringement.

				- - -
			#separability
			:markdown
				15. SEPARABILITY

				Each delivery of Goods under this contract shall be deemed to constitute a separate contract to which the terms and conditions hereof shall apply provided that these conditions shall be subject to and shall in no way affect the Seller’s rights under Clauses 12 and 13 above to suspend or terminate the whole contract in the circumstances where mentioned.

				- - -
			#breach
			:markdown
				16. BREACH

				If the Buyer
				a) Makes default in or commits any breach of its obligations to the Seller hereunder or,
				b) Is involved in any legal proceedings in which its solvency is involved or,
				c) (Being a Company) commences liquidation or,
				d) Causes of threatens to cease to trade or if serious doubt arises as to the Buyer’s solvency; then the Seller may at its election suspend or terminate this contract.

				- - -
			#testing_installation
			:markdown
				17. TESTING INSTALLATION AND APPROVALS

				a) Where appropriate the Seller’s engineers shall test the Goods in a manner it considers necessary subject to the appropriate approval conditions applicable to the Goods to ensure that the Goods are functioning correctly and upon completion of these tests the Goods shall be deemed ready for delivery.
				b) If the Seller agrees to supervise the installation and commissioning of the Goods or carry out additional testing or provide any other service in connection with the Goods the Seller shall be paid on a time and materials basis on demand.

				- - -
			#arbitration
			:markdown
				18. ARBITRATION

				If at any time any dispute shall arise between the Buyer and the Seller in connection with this contract the Seller may give notice in writing of the existence of such dispute to the Buyer and require the same to be referred to the arbitration of a person mutually agreed upon or failing agreement to some person appointed by the president for the time being of the Law Society. The submission shall be deemed to be a submission to arbitration within the meaning of the Arbitration Act 1950 or any statutory modification or re-enhancement thereof.

				- - -
			#jurisdiction
			:markdown
				19. JURISDICTION

				This Contract shall be interpreted according to English Law and the Buyer hereby accepts the jurisdiction of such Courts, whether in England or elsewhere, as the Seller may nominate for the purpose of trying any action arising out of this contract.

				- - -
			#notice
			:markdown
				20. NOTICE

				Any notice may be sent by e-mail, facsimile or post to the number or address set out in the Contract documentation and shall be deemed to have been received when in the normal means of transmission or delivery it would have been received.
