- title @post, image_path("news/#{@post.slug}-header.jpg"), @post.title

.row

  .story.equal_height
    %h2{style: 'background: none'} &nbsp;
    .box
      .content
        .copy= @post.content.html_safe

  .sidebar.equal_height
    - if @post.media.present?
      .box
        %h2 Media Enquiries
        .content
          %p For more information, or to make a donation please visit:
    .box
      %h2 News Archive
      .content
        %ul.archive
          - Post.all.each do |post|
            %li.clickable
              .title= link_to post, post
              .date= post.created_at.stamp('11th Oct 2012')
