- title @post, (@post.title.include?("Lorem") ? image_path("news/lorem-ipsum-dolor-sit-amet--10.jpg") : image_path("news/#{@post.slug}-header.jpg")), @post.title

.row

  .story.equal_height
    %h2{style: 'background: none'} &nbsp;
    .box
      .content
        .copy= @post.content.html_safe

  .sidebar.equal_height{style: 'background: none'}
    / - if @post.media.present?
    .media
      .box
        %h2 Media Enquiries
        .content
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
    .box
      %h2 News Archive
      .content
        %ul.archive
          - Post.all.each do |post|
            %li.clickable
              .title= link_to post, post
              .date= post.created_at.stamp('11th Oct 2012')
