- title @post, @post.news_image_url, @post.title

.row

  .story.equal_height
    .box
      .content
        = simple_format @post.content

  .sidebar.equal_height
    - if @post.media.present?
      .box
        %h2 Media Enquiries
        .content
          %p For more information, or to make a donation please visit:
    .box
      %h2 News Archive
      .content
        %ul.archive
          - Post.all.each do |post|
            %li.clickable
              .title= link_to post, post
              .date= post.created_at.stamp('11th Oct 2012')
