$helvetica: 'FrutigerLTW01-45Light', 'Helvetica';
$rounded-bold: 'VAG Rounded W02 Bold', Helvetica, Arial, sans-serif;

$green: #96CC72;
$darkblue: #202945;
$blue: #00539f;
$blue2: #5b8ab5;

// @import "bourbon";
@import "static";
@import "foundation_and_overrides";
@import "flexslider";
@import "redactor-rails";

@import "albums";
@import "home";
@import "management_team";

label {
  color: #FFF;
}

@mixin image-link($width, $height, $src) {
  display: block;
  width: $width;
  height: $height;
  background-image: image-url($src);
  // if using Rails 3.x Asset Pipeline you can use the following instead
  // background-image: image-url($src);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

a {
  color: $blue2;
}
.blue {
  color: $blue2;
}

.a_contact .column .column {
  padding: 0;
}
.text {
  background: $darkblue;
}

.clickable {
  cursor: pointer;
}

.customers {
  .twelve:nth-child(odd) {
    padding-right: 0;
  }
  .twelve:nth-child(even) {
    padding-left: 0;
  }
}

.post {
  position: relative;
  margin-bottom: $columnGutter;
  background-color: $darkblue;

  .title {
    color: #FFF;
  }

  &.featured {
    height: 287px;
    background: #111;

    .banner {
      position: absolute;
      bottom: 20px;
      overflow: hidden;
      background: image-url("news_arrow.png") right center no-repeat;
      min-height: 65px;
      .title {
        display: block;
        padding: 10px;
        width: 315px;
        float: left;
        padding-right: 75px;
      }
    }
  }

  &.small {
    height: 164px;
    .title {
      position: absolute;
      bottom: 0;
      padding: 10px;
      border-top: 2px solid $green;
      width: 100%;
      background: #202945 url('arrow.png') right center no-repeat;
    }
  }

  .date {
    position: absolute;
    display: table-cell;
    vertical-align: middle;

    span {
      display: block;
    }
    text-align: center;
    background: $green;
    width: 46px;
    height: 46px;
  }

}

.a_home {
  .flex-control-nav {
    width: 320px;
    top: 260px;
  }
}

header {
  color: $green;
  overflow: hidden;
  margin: 10px auto;
  font-family: $rounded-bold;
}

* {
  margin: 0;
}

.container {
  width: 953px;
  margin: 0 auto;
}

body {
  background: #5989B1 image-url('bg.jpg') repeat-x;
  color: #FFF;
  font-family: $helvetica;
}

footer {
  padding: 20px 0 50px;
  border-top: 4px solid $green;
  background: #5780AF image-url('footer_bg.jpg') repeat-x;
  a {
    color: $green;
  }
  .copyright {
    text-align: right;
  }
}

hr {
  border-color: #5b8ab5;
}

.gallery_category {
  background: #202945;
  padding: 10px;
}

.box {
  background: $darkblue;
  margin-bottom: 2em;
  overflow: hidden;

  .content {
    overflow: hidden;
    padding: 10px;
  }
}

.customer {
  text-align: center;
  background: $darkblue center center no-repeat;
  height: 105px;
  // padding: 10px 0;
  margin: 10px 0 0 0;
}

.service {
  height: 165px;
  border-bottom: 4px solid #9bcd65;
  background-color: #1F2844;
  margin-bottom: $columnGutter;
  overflow: hidden;
  a {
    margin-top: 50px;
    padding: 10px;
    display: block;
    width: 100px;
    color: #FFF;
    background: #9bcd65;
  }
}

.album {
  height: 255px;
  background: #111;
  margin-bottom: $columnGutter;
}

#hero {
  height: 282px;
  overflow: hidden;
  margin-bottom: 1em;
  display: block;
  background-color: #1F2844;
  .c_events &, .c_posts.a_index &, .a_home &, .a_management_team &, .c_services.a_index &, .c_albums &, .a_edit & {
    display: none;
  }
}

.outer {
  overflow: hidden;
  position: relative;
  padding-top: 15px;
  .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.c_events {
  .event {
    .location {
      border-bottom: 1px solid #5b8ab5;
      overflow: hidden;
      line-height: 2em;
      color: $blue2;
    }
    .location, .date {
      float: left;
      display: block;
      width: 70%;
    }
    .date {
      width: 30%;
      background: $green;
      padding: 10px;
    }
  }

  .flexslider {
    li {
      height: 284px;
      position: relative;

    .event_name {
      position: absolute;
      bottom: 15px;
      left: 0;
      min-width: 320px;
      width: auto;
    }

    }
    .flex-control-nav {
      height: 12px;
    }
  }
}

.slider {
  // background: #202945;
  margin-bottom: $columnGutter;
}

ul.archive {
  li {
    background: image-url("arrow.png") right center no-repeat;
  }
}


.right {
  width: 700px;
  float: right;
  text-align: right;
  ul, li {
    margin: 0 0 0 5px;
    padding: 0;
    list-style: none;
    float: right;
  }
  li {
    padding-right: 5px;
    border-right: 1px solid $blue;
  }
  ul li:first-child {
    border: none;
    padding: 0;
  }
}

#i18n {
  font-family: $helvetica;
  overflow: hidden;
  clear: both;

  a {
    color: #00539f;
  }
}

a {
  text-decoration: none;
}

#logo {
  float: left;
  margin-top: 10px;
  @include image-link(220px, 100px, "asc.png");
}

nav a {
  color: $blue;
}

.contact {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 2em;
}

h1,h2,h3 {
  font-family:'VAG Rounded W01 Thin';
  margin: 0 0 $columnGutter 0;
  a, a:hover {
    color: #FFF;
  }
}


h1, .event_name {
  color: #FFF;
  background: #96CC72;
  padding: 30px 15px;
  // margin-top: 115px;
  display: block;
  font-size: 2.3em;
  width: 370px;
}


  #slider {
    background: $darkblue;
    margin-bottom: $columnGutter;
    height: 284px;
    overflow: hidden;

    li {
      height: 284px;
    }
  }


.green {
  color: $green;
  white-space: nowrap;
}

h2 {
  color: #FFF;
  border-bottom: 2px solid $green;
  background: #588AB1;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
}

h3 {
  background: #6194BB;
  color: white;
  padding: 10px;
}