.c_static.a_contact {
  .gatwick {
    @include span-columns(12);
  }
  .manchester {
    @include span-columns(6);
  }
  .derby {
    @include span-columns(6);
  }

  a.map {
    color: $blue2 !important;
  }

  .key_contacts .contact, .gatwick_contacts .contact {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  #main {
    .contact, hr {
      margin-bottom: $bottomMargin;
    }
  }

  span {
    display: block;
    line-height: 1.5em;
  }
  span.title {
    font-family:'VAG Rounded W01 Thin';
    font-size: 1.2em;
  }
  span.subtitle {
    font-size: 1.1em;
  }
  span.title, span.subtitle, .map {
    color: $blue2;
  }
  #main a {
    color: #FFF;
  }

}
