.c_events.a_index {
  .event {
    @include span-columns(12);
    @include omega('2n + 1');
  }

  .flexslider {
    li {
      height: 284px;
      position: relative;

    .event_name {
      position: absolute;
      bottom: 15px;
      left: 0;
      min-width: 320px;
      width: auto;
    }

    }
    .flex-control-nav {
      height: 12px;
    }
  }

  .outer {
    overflow: hidden;
    position: relative;
    padding-top: 7px;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .event {
    .content {
      padding-top: 0;
    }
    .details {
      padding: 10px 0 0 15px;
      overflow: hidden;
      margin-bottom: 10px;
      position: relative;
      background: image-url("line.png") no-repeat bottom left;
    }
    .location {
      // position: absolute;
      // bottom: 0;
      // border-bottom: 1px solid #5b8ab5;
      overflow: hidden;
      line-height: 1.5em;
      color: $blue2;
      float: left;
    }
    .location, .date {

      display: block;
      width: 65%;
    }
    .date {
      float: right;
      width: 30%;
      background: $green;
      padding: $padding;
    }
  }


}