#headerbg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 194px;
  background: image-url("headerbg.jpg") top center no-repeat;
}

header {
  color: $green;
  overflow: hidden;
  margin: 0 auto 17px;
  font-family: $rounded-bold;
  position: relative;

  .contact {
    font-size: 2.2em;
    line-height: 2.2em;
  }

  #logo_holder {
    // @include span-columns(6);
  }
  .right {
    @include span-columns(18);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    ul, li {
      margin: 0 0 0 5px;
      padding: 0;
      list-style: none;
      float: right;
    }
    li {
      padding-right: 5px;
      border-right: 1px solid $blue;
    }
    ul li:first-child {
      border: none;
      padding: 0;
    }
  }

  #logo {
    // @include span-columns(6);
    @include image-link(261px, 95px, "logo.svg");
    margin-top: 14px;
  }

  nav {
    font-size: 1.2em;
    a {
    color: $blue;
    }
  }

}

#airline_services_group_logo {
  @include image-link(120px, 56px, "airline_services_group.png");
  float: right;
}
