#headerbg {
  display: none;
  position: absolute;
  top: 0;
  margin-left: -510px;
  left: 50%;
  width: 1020px;
  height: 194px;
  background: image-url("headerbg.jpg");
}

header {
  color: $green;
  overflow: hidden;
  margin: 0 auto 17px;
  font-family: $rounded-bold;
  position: relative;

  .contact {
    font-size: 2.2em;
    line-height: 2.2em;
  }

  #logo_holder {
    @include span-columns(7);
  }
  .right {
    @include span-columns(17);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    ul, li {
      margin: 0 0 0 5px;
      padding: 0;
      list-style: none;
      float: right;
    }
    li {
      padding-right: 5px;
      border-right: 1px solid $blue;
    }
    ul li:first-child {
      border: none;
      padding: 0;
    }
  }

  #logo {
    @include span-columns(6);
    @include image-link(220px, 95px, "asc.png");
    margin-top: 14px;
  }

  nav a {
    color: $blue;
  }

}

#airline_services_group_logo {
  @include image-link(120px, 56px, "airline_services_group.png");
  float: right;
}
