.a_home {
  .images .box {
    background: none;
    text-align: center;
  }

  #slider {
        .title {
      margin-top: 20px;
      font-size: 2.7em;
      line-height: 1em;
      margin-bottom: 0.5em;
    }
    .description {
      color: $green;
      font-size: 1.2em;
    }
        .info {
      background: $darkblue;
      height: 100%;
      padding: $padding;
    }

  }


  .box {
    position: relative;
    h2 {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#588AB1, 0.9);
      width: 100%;
    }
    ul li {
      border-bottom: 1px solid #5b8ab5;
      position: relative;
      padding-bottom: 1em;
      .more {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #5b8ab5;
      }
    }
  }

  .modules  {
    .box {
      margin-bottom: 0;
    }
    .news {
      .title {
        margin: 0.5em 0;
      }
      .date {
        color: $blue2;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .event {
      .name {
        color: $blue2;
      }
    }
  }
}