.a_home {

  #slider {
    background-color: $darkblue;
  }

  .modules {
    .about_us, .latest_news {
      @include span-columns(9);
    }
    .upcoming_events {
      @include span-columns(6);
      @include omega();
    }
  }
  .images {
    .brochure {
      clear: both;
    }
    .brochure, .airline_services {
      @include span-columns(9);
    }
    .careers {
      @include span-columns(6);
      @include omega();
    }
  }

  .images .box {
    background: none;
    text-align: center;
  }

  #slider {
    .title {
      font-family:'VAG Rounded W01 Thin';
      margin-top: 20px;
      font-size: 2.7em;
      line-height: 1em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    .description {
      color: $green;
      font-size: 1.2em;
    }
    .info {
      background: $darkblue;
      height: 100%;
      padding: $padding;
    }

  }


  .modules {
    .equal_height {
      margin-bottom: 0;
    }
    ul li {
      border-bottom: 1px solid #5b8ab5;
      position: relative;
      padding-bottom: 1.5em;
      .more {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #5b8ab5;
      }
      .title {
        margin-top: 0.5em;
      }
    }

    .latest_news {
      .title {
        margin-bottom: 0.5em;
      }
      .date {
        color: $blue2;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .event {;
      .name {
        color: $blue2;
      }
    }
  }

  .box {
    position: relative;
    ul {
      margin: 0;
    }
    h2 {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#588AB1, 0.9);
      width: 100%;
    }

  }

}