.manager {

  @include span-columns(6);
  @include omega('5n');
  margin-bottom: $bottomMargin;

  .name {
    font-size: 1.3em;
    line-height: 1.3em;
    font-family:'VAG Rounded W01 Thin';

  }
  .job {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .photo {
    position: relative;
  }
  .info {
    background: #5b8ab5;
    padding: 5px 10px;
    min-width: 180px;
    bottom: 18px;
    position: absolute;
  }
  .photo {
    background: $darkblue no-repeat;
    height: 165px;
    border-bottom: 2px solid $green;
  }
}
